<div style="padding: 25px;"> 

    <mat-grid-list cols="3" rowHeight="1:1.4" style="border-style: solid; border-width: 1px; border-color: lightgray; border-radius: 10px; background-color: #F8F8F8;">
        <mat-grid-tile>
            <div style="height: 99%;">
                <h1>Journal</h1>
                <mat-divider></mat-divider>

                <p><b>name: </b>{{patient.name}}</p>
                <p><b>age: </b>{{patient.age}}</p>
                <p><b>gender: </b>{{patient.gender}}</p>
                <p><b>race: </b>{{patient.race}}</p>
                <mat-divider></mat-divider>
                <p><b>Previous outpatient visits: </b>{{patient.number_outpatient}}</p>
                <p><b>Previous emergency visits: </b>{{patient.number_emergency}}</p>
                <p><b>Previous inpatient visits: </b>{{patient.number_inpatient}}</p>
                <mat-divider ></mat-divider>
                <p><b>max_glu_serum: </b>{{patient.max_glu_serum}}</p>
                <p><b>A1Cresult: </b>{{patient.A1Cresult}}</p>
                <mat-divider ></mat-divider>
                <p><b>Primary diagnosis: </b>{{patient._diag_1}}</p>
                <p><b>Secondary diagnosis: </b>{{patient._diag_2}}</p>
                <p><b>Additional diagnosis: </b>{{patient._diag_3}}</p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="height: 99%;">
                <h1>Prescription</h1>
                <mat-divider></mat-divider><br>
                <app-medicine [name]="'metformin '" [dosis]="patient.metformin" (dosisChange)="patient.metformin=$event"></app-medicine>
                <app-medicine [name]="'repaglinide '" [dosis]="patient.repaglinide" (dosisChange)="patient.repaglinide=$event"></app-medicine>
                <app-medicine [name]="'nateglinide '" [dosis]="patient.nateglinide" (dosisChange)="patient.nateglinide=$event"></app-medicine>
                <app-medicine [name]="'chlorpropamide '" [dosis]="patient.chlorpropamide" (dosisChange)="patient.chlorpropamide=$event"></app-medicine>
                <app-medicine [name]="'glimepiride '" [dosis]="patient.glimepiride" (dosisChange)="patient.glimepiride=$event"></app-medicine>
                <app-medicine [name]="'acetohexamide '" [dosis]="patient.acetohexamide" (dosisChange)="patient.acetohexamide=$event"></app-medicine>
                <app-medicine [name]="'glipizide '" [dosis]="patient.glipizide" (dosisChange)="patient.glipizide=$event"></app-medicine>
                <app-medicine [name]="'tolbutamide '" [dosis]="patient.tolbutamide" (dosisChange)="patient.tolbutamide=$event"></app-medicine>
                <app-medicine [name]="'pioglitazone '" [dosis]="patient.pioglitazone" (dosisChange)="patient.pioglitazone=$event"></app-medicine>
                <app-medicine [name]="'rosiglitazone '" [dosis]="patient.rosiglitazone" (dosisChange)="patient.rosiglitazone=$event"></app-medicine>
                <app-medicine [name]="'acarbose '" [dosis]="patient.acarbose" (dosisChange)="patient.acarbose=$event"></app-medicine>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div style="height: 99%;">
                <h1 style="color: transparent;">Prescription</h1>
                <mat-divider></mat-divider><br>
                <app-medicine [name]="'miglitol '" [dosis]="patient.miglitol" (dosisChange)="patient.miglitol=$event"></app-medicine>
                <app-medicine [name]="'troglitazone '" [dosis]="patient.troglitazone" (dosisChange)="patient.troglitazone=$event"></app-medicine>
                <app-medicine [name]="'tolazamide '" [dosis]="patient.tolazamide" (dosisChange)="patient.tolazamide=$event"></app-medicine>
                <app-medicine [name]="'examide '" [dosis]="patient.examide" (dosisChange)="patient.examide=$event"></app-medicine>
                <app-medicine [name]="'citoglipton '" [dosis]="patient.citoglipton" (dosisChange)="patient.citoglipton=$event"></app-medicine>
                <app-medicine [name]="'insulin '" [dosis]="patient.insulin" (dosisChange)="patient.insulin=$event"></app-medicine>
                <app-medicine [name]="'glyburide-metformin '" [dosis]="patient.glyburide_metformin" (dosisChange)="patient.glyburide_metformin=$event"></app-medicine>
                <app-medicine [name]="'glipizide-metformin '" [dosis]="patient.glipizide_metformin" (dosisChange)="patient.glipizide_metformin=$event"></app-medicine>
                <app-medicine [name]="'glimepiride-pioglitazone '" [dosis]="patient.glimepiride_pioglitazone" (dosisChange)="patient.glimepiride_pioglitazone=$event"></app-medicine>
                <app-medicine [name]="'metformin-rosiglitazone '" [dosis]="patient.metformin_rosiglitazone" (dosisChange)="patient.metformin_rosiglitazone=$event"></app-medicine>
                <app-medicine [name]="'metformin-pioglitazone '" [dosis]="patient.metformin_pioglitazone" (dosisChange)="patient.metformin_pioglitazone=$event"></app-medicine>
                <br>
                <button mat-raised-button style="float: right;" color="accent" (click)="fun();">Happy fun time!</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

    <section style="float: right;">
        <button mat-raised-button (click)="resetFields();">Reset</button>
        <button mat-raised-button (click)="postPrescription(patient)" color="primary">prescribe the drugs</button>
    </section>
</div>