
<div style="display: flex;">
    <div style="width: 200px;">
        <label><b>{{name}}</b></label>
    </div>
    <div>
        <mat-button-toggle-group [value]=dosis name="fontStyle" aria-label="Font Style">
            <mat-button-toggle (change)="clickedSelection($event.value)" value="No" [disabled]="disableNo">No</mat-button-toggle>
            <mat-button-toggle (change)="clickedSelection($event.value)" value="Down" [disabled]="disableDown">Down</mat-button-toggle>
            <mat-button-toggle (change)="clickedSelection($event.value)" value="Steady" [disabled]="disableSteady">Steady</mat-button-toggle>
            <mat-button-toggle (change)="clickedSelection($event.value)" value="Up" [disabled]="disableUp">Up</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    
</div>
